[Unit]
Description=Conkeror Web Browser
After=xorg.target

[Service]
ExecStart=/usr/bin/xulrunner --app /home/nathan/source/conkeror/application.ini
KillMode=process
