[Unit]
Description=Emacs Daemon
After=xorg.target
After=xfonts.service
Requires=dbus.socket

[Service]
ExecStart=/usr/bin/emacs --daemon
Type=forking

[Install]
WantedBy=default.target
